<div class="body">
  <div class="main-wrap container">
   <div class="row">
    <div class="col-md-9 ts-main-left">
     <!-- HEADER -->
     <header>
      <div class="container">
       <div class="row">
        <div class="col-md-6 logo">
         <h3><a href="index.html" title="Trendy Stuff"><img src="images/logo.png" class="img-responsive" alt=""/></a></h3>
       </div>
       <div class="col-md-6">
         <ul class="ts-social">
          <li><a href="https://fr.linkedin.com/pub/linda-lor/b0/154/662"><span class="fa fa-linkedin"></span></a></li>
          <li><a href="https://twitter.com/lindalorweb"><span class="fa fa-twitter"></span></a></li>
        </ul>
      </div>
    </div>
  </div>
</header>

<!-- NAVIGATION -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav id="nav_menu">
        <ul>
          <li   class='active'>
            <a href='/'><i class="fa fa-home"></i> Accueil</a>
          </li>
          <li><a href='/about'><i class="fa fa-user"></i> A propos</a></li>
          <li>
            <a href='/portfolio'><i class="fa fa-briefcase"></i> Portfolio</a>
          </li>
          <li>
            <a href='/resources'><i class="fa fa-globe"></i> Ressources</a>
          </li>
          <li>
            <a href='/blog'><i class="fa fa-comment"></i> Blog</a>
          </li>
          <li><a href='/contact'><i class="fa fa-envelope"></i> Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>


<!-- SERVICES -->
<div class="container" id="services2">
  <div class="row">
   <div class="col-md-12">
    <div class="content-head">
     <h3>Mes services</h3>
     <p><span>ce que je vous offre</span></p>
   </div>
   <div class="col-md-12">

    <ul>
     <li >
      <div class="services2-content">
       <i class="fa fa-desktop"></i>
       <div class="s2c-inner">
        <h4>Responsive</h4>
        <p>Un site adaptable à tout écran</p>
      </div>
    </div>
  </li>
  <li >
    <div class="services2-content">
      <i class="fa fa-heart"></i>
      <div class="s2c-inner">
        <h4>Design</h4>
        <p>Un design moderne</p>
      </div>
    </div>
  </li>
  <li>
    <div class="services2-content">
     <i class="fa fa-smile-o"></i>
     <div class="s2c-inner">
      <h4>Sourire</h4>
      <p>Un site développé avec le sourire</p>
    </div>
  </div>
</li>
<li>
  <div class="services2-content">
   <i class="fa fa-users"></i>
   <div class="s2c-inner">
    <h4>Réunion</h4>
    <p>Des réunions hebdomadaires</p>
  </div>
</div>
</li>
<li>
  <div class="services2-content">
   <i class="fa fa-book"></i>
   <div class="s2c-inner">
    <h4>Cahier des charges</h4>
    <p>Un cahier des charges complet si besoin</p>
  </div>
</div>
</li>

<li>
  <div class="services2-content">
   <i class="fa fa-text-width"></i>
   <div class="s2c-inner">
    <h4>Référencement</h4>
    <p>Mise en oeuvre pour être classé dans les premières pages google</p>
  </div>
</div>
</li>
</ul>
</div>
</div>
</div>
</div>

<!-- VERTICAL TAB -->
<div class="container">
  <div class="row">
   <div class="col-md-12">
    <div class="col-md-12" id="vertical-tabs">
     <div class="content-head">
      <h3>4 grandes étapes</h3>
      <p><span>comment ça marche</span></p>
    </div>
    <!--vertical Tabs-->
    <div id="verticalTab" data-animated="0">
      <ul class="resp-tabs-list">
       <li><i class="fa fa-heart"></i> Renseignement sur vos besoins</li>
       <li><i class="fa fa-paint-brush"></i> Design et mise en page</li>
       <li><i class="fa fa-code"></i> Développement web</li>
       <li><i class="fa fa-search"></i> Communication et marketing</li>
     </ul>
     <div class="resp-tabs-container">
       <div>
        <p>Tout d'abord, un ensemble de renseignements et un benchmarking sont rassemblés. Cela permet de receuillir vos besoins et vous proser/conseiller certains points.</p>
      </div>
      <div>
        <p> La mise en forme du site ainsi que le design sont les deux choses que voit en premier l'internaute. Il faut donc que ce dernier trouve se qu'il cherche en 3 clics maximum. Quant au design du site, il doit être épuré et moderne.</p>
      </div>
      <div>
        <p>Le développement du site est la partie la plus longue de l'aventure. Elle se divise en 2 étapes: le front, c'est-à-dire le design et la mise en page et le back qui correspond aux foncitonnalités du site.</p>
      </div>
      <div>
        <p>Avoir un site c'est bien, mais le référencer c'est mieux. Cela permet de le mettre dans les premièrs pages de google. s'il s'agit d'un blog ou d'un site e-commer la communication est très importante car elle joue un rôle majeur dans le nombre de visiteur sur votre plateforme.</p>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- HOME PROJECTS/WORKS -->
<div class="container" id="home-works">
  <div class="row">
   <div class="col-md-12">
    <div class="content-head">
     <h3>Derniers posts</h3>
     <p><span>suivez mes derniers articles</span></p>
   </div>
   <div class="container">
    <div class="row">
    <% Post.last(4).each do |post|%>
<div class="col-xs-12 col-md-6">
  <div class="panel panel-default">
    <div class="panel-image">
      <%= image_tag post.image.url, :class=>"panel-image-preview" %>
    </div>
    <div class="panel-body">
      <h3 class="text-left"><%= link_to post.title, post %></h3>
      <small><%= post.created_at.strftime("%d %B %Y")%></small>
      <p class="text-right"><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span>
      <%= link_to post.category.name,category_posts_path(post.category) %></p>
  
      <p><%= truncate raw(post.body), length: 160 %></p>
    </div>
    <div class="panel-footer text-center">
      <%= link_to 'read more', post %> 
    </div>
  </div>
</div>
<% end %>
    </div>
  </div>

</div>
</div>
</div>

<div class="clearfix space20"></div>

<!-- FOOTER-COPYRIGHT -->
<%= render 'layouts/footer' %>
</div> <!-- ts-main-left -->
<!-- SIDEBAR -->
<%= render 'layouts/sidebar' %>
</div>
</div>
</div>

